
#content {
    display : flex;
    align-items : flex-start;
}

.directory {
    /*background-color : #AAAAAA;*/
    padding : 0.5em;
}

.log-container {
    background-color : #FFFFFF;

}

.single-char-button {
    font-family : monospace;
    font-weight : bold;
    display : inline-block;
    padding : 10px;
    cursor : default;
}

.single-char-button:hover {
    background-color : #AAAAAA;
}

#log-div {
    padding : 3em;
    max-height : 75%;
    width : 100%;
    overflow : auto;
}
